.flex {
  display: flex;
}

.jc {
  justify-content: center;
}

.ic {
  align-items: center;
}

.border {
  border: 2px solid red;
  margin: 3px;
}

.bg-black {
  background-color: black;
  color: white;
}
.bg-grey {
  background-color: #121212;
}

.invert {
  filter: invert(1);
}

.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 10px;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Hide the scrollbar indicator */
::-webkit-scrollbar {
  display: none;
}
